{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<div class="container data-container">
    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item">
            <a href="{{ path('web_post', {'id': post.id }) }}">{{ post.title }}</a> 
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
